.container_articles {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
